<footer>
  <div class="footer-bg cor-bg-p3" data-scroll="animado">
    <div class="container">
      <div class="inscricao cor-bg-p1">
        <div>
          <h1 class="f1-m cor-p2">
            STAY UP TO DATE ABOUT OUR LATEST OFFERS
          </h1>
        </div>
        <div class="email-botao">
          <input
            class="input-email material-symbols-outlined"
            type="text"
            placeholder="email"
          />
          <p class="enviar-email">Subscribe to Newsletter</p>
        </div>
      </div>
      <div class="footer">
        <section class="footer-itens">
          <a class="logo cor-p1" href="">SHOP.CO</a>
          <p class="f2-m cor-p4 txt-footer">
            We have clothes that suits your style and which you re proud to
            wear. From women to men.
          </p>
          <div class="icones-footer">
            <a href="https://www.facebook.com" target="_blank">
              <i class="fab fa-facebook icone-tam"></i>
            </a>
            <a href="https://www.linkedin.com" target="_blank">
              <i class="fab fa-linkedin icone-tam"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fab fa-instagram icone-tam"></i>
            </a>
          </div>
        </section>
        <section>
          <h1>COMPANY</h1>
          <ul class="lista-footer">
            <li class="f2-m cor-p4">About</li>
            <li class="f2-m cor-p4">Features</li>
            <li class="f2-m cor-p4">Works</li>
            <li class="f2-m cor-p4">Career</li>
          </ul>
        </section>
        <section>
          <h1>HELP</h1>
          <ul class="lista-footer">
            <li class="f2-m cor-p4">Customer Support</li>
            <li class="f2-m cor-p4">Delivery Details</li>
            <li class="f2-m cor-p4">Terms & Conditions</li>
            <li class="f2-m cor-p4">Privacy Policy</li>
          </ul>
        </section>
        <section>
          <h1>FAQ</h1>
          <ul class="lista-footer">
            <li class="f2-m cor-p4">Account</li>
            <li class="f2-m cor-p4">Manage Deliveries</li>
            <li class="f2-m cor-p4">Orders</li>
            <li class="f2-m cor-p4">Payments</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  
</footer>

<section class="container-modal" data-modal="modal">
  <div class="modal">
    <button class="fechar" data-modal="fechar">X</button>
    <form action="" class="login">
      <div class="login-input">
        <label for="email" class="f2-m">Email</label>
        <input type="text" for="email" id="email" />
      </div>
      <div class="login-input">
        <label for="senha" class="f2-m">password</label>
        <input type="password" for="senha" id="senha" />
        <a class="recuperar-senha" href="">Esqueceu sua senha?</a>
      </div>
      <button type="submit" class="btn-enviar f2-m">Entrar</button>
      <span>É Novo? <a class="cadastro" href="">Cadastre-se Aqui!</a></span>
    </form>
  </div>
</section>
<script type="module" src="/js/script.js"></script>

</body>
</html>
