<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOPE.CO</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="cor-bg-p1 top-fixo">
      <div class="header-top">
        <p class="cor-p2">Welcome to FitFORGE. Forge your style!</p>
      </div>
    </div>
    <header>
      <div class="header-fixo cor-bg-p2" data-scroll="animado">
        <div class="container cor-bg-p2">
          <div class="container-header cor-bg-p2">
            <div>
              <a class="logo cor-p1" href="">FitFORGE</a>
            </div>
            <nav class="nav">
              <ul class="nav-itens f2-m" data-menu="nav">
                <li><a href="#loja">Shop</a></li>
                <li><a href="#promocao">New Arrivals</a></li>
                <li><a href="#vendido">Top Selling</a></li>
                <li><a href="#categoria">Categories</a></li>
              </ul>
            </nav>

            <!-- search bar -->
            <div class="barra-pesquisa">
              <span class="material-symbols-outlined">search</span>
              <input class="pesquisa" type="text" placeholder="Search for products..." />
            </div>   

            <div class="contamenu">
              <span class="material-symbols-outlined cart">
                  shopping_cart
              </span>
              
              <div class="account-container">
                  <span class="material-symbols-outlined conta" data-modal="conta">
                      account_circle
                  </span>
                  <div class="dropdown-menu">
                      <a href="#"><span class="material-symbols-outlined">account_circle</span> My Account</a>
                      <a href="#"><span class="material-symbols-outlined">shopping_bag</span> Orders</a>
                      <a href="#"><span class="material-symbols-outlined">favorite</span> Wishlist</a>
                      <a href="#"><span class="material-symbols-outlined">confirmation_number</span> Coupons</a>
                      <a href="/logout"><span class="material-symbols-outlined">logout</span> Logout</a>
                  </div>

                  
                  
              </div>

          
              <button class="menu-mobile" data-menu="btn-mobile">
                  <span class="hamburger"></span>
              </button>
          </div>                     

          </div>
        </div>
      </div>
    </header>