.promocao-bg h2{
    text-align: center;
    padding: 60px 0px;
}


.promocao{
    display: flex;
    flex-flow: nowrap;
    gap: 20px;
    overflow: auto;

}

.promocao-item img{
    max-width: 290px;
}

.promocao-item p, img, span{
    margin-bottom: 5px;
}

.promocao img{
    border-radius: 15px;
}

.avaliacao{
    display: flex;
    gap: 10px;
}

@media(max-width:600px){
    .promocao-bg h2{
        font-size: 2.5rem;
        line-height: 1.2;
    }    
}