<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOPE.CO</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="cor-bg-p1 top-fixo">
      <div class="header-top">
        <p class="cor-p2">git:Daniel2Silva</p>
      </div>
    </div>
    <header>
      <div class="header-fixo cor-bg-p2" data-scroll="animado">
        <div class="container cor-bg-p2">
          <div class="container-header cor-bg-p2">
            <div>
              <a class="logo cor-p1" href="">SHOP.CO</a>
            </div>
            <nav class="nav">
              <ul class="nav-itens f2-m" data-menu="nav">
                <li><a href="#loja">Loja</a></li>
                <li><a href="#promocao">Em promoção</a></li>
                <li><a href="#vendido">+Vendidos</a></li>
                <li><a href="#categoria">Categorias</a></li>
              </ul>
            </nav>
            <div class="barra-pesquisa">
              <input
                class="pesquisa material-symbols-outlined"
                type="text"
                placeholder="search"
              />
            </div>
            <div class="contamenu">
              <span class="material-symbols-outlined cart">
                shopping_cart
              </span>
              <span class="material-symbols-outlined conta" data-modal="conta">
                account_circle
              </span>
              <button class="menu-mobile" data-menu="btn-mobile">
                <span class="hamburger"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="cor-bg-p3" id="loja" data-scroll="animado">
        <div class="container">
          <div class="container-main">
            <div class="lado-esquerdo">
              <h1 class="f1-g cor-p1 titulo">
                AS MELHORES PEÇAS PARA SEU ESTILO
              </h1>
              <p class="f2-m cor-p4 texto">
                Navegue por nossa diversificada linha de roupas meticulosamente
                elaboradas, projetadas para realçar sua individualidade e
                atender ao seu senso de estilo.
              </p>
              <button class="botao">Ver loja</button>
              <div class="numeros">
                <div class="numeros-item f2-num barra">
                  <p class="n">200+</p>
                  <p class="f2-m cor-p4">Marcas</p>
                </div>
                <div class="numeros-item f2-num barra">
                  <p class="n">2000+</p>
                  <p class="f2-m cor-p4">Produtos</p>
                </div>
                <div class="numeros-item f2-num">
                  <p class="n">30.000+</p>
                  <p class="f2-m cor-p4">Produtos vendidos</p>
                </div>
              </div>
            </div>
            <div class="lado-direito">
              <img class="banner" src="./img/casal 2.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="marcas-bg cor-bg-p1">
          <section class="container">
            <ul class="marcas-itens">
              <li><img src="./img/prada-logo-1 1.svg" alt="" /></li>
              <li><img src="./img/versace.svg" alt="" /></li>
              <li><img src="./img/gucci-logo-1 1.svg" alt="" /></li>
            </ul>
          </section>
        </div>
      </section>
    </main>
    <section>
      <div class="promocao-bg" id="promocao" data-scroll="animado">
        <div class="container">
          <h2 class="f1-m">EM PROMOÇÃO</h2>
          <section class="promocao">
            <a href="./produto.html">
              <div class="promocao-item">
                <img src="./img/imagem1.png" alt="" />
                <p class="f2-mg">Camisa com Datalhes</p>
                <div class="avaliacao">
                  <img src="./img/Frame 10.svg" alt="" />
                  <span class="f2-m">4.5/5</span>
                </div>
                <span class="f2-mg">R$ 120,00</span>
              </div>
            </a>
            <div class="promocao-item">
              <img src="./img/imagem2.png" alt="" />
              <p class="f2-mg">Camisa com Datalhes</p>
              <div class="avaliacao">
                <img src="./img/Frame 10.svg" alt="" />
                <span class="f2-m">4.5/5</span>
              </div>
              <span class="f2-mg">R$ 120,00</span>
            </div>
            <div class="promocao-item">
              <img src="./img/imagem3.png" alt="" />
              <p class="f2-mg">Camisa com Datalhes</p>
              <div class="avaliacao">
                <img src="./img/Frame 10.svg" alt="" />
                <span class="f2-m">4.5/5</span>
              </div>
              <span class="f2-mg">R$ 120,00</span>
            </div>
            <div class="promocao-item">
              <img src="./img/imagem4.png" alt="" />
              <p class="f2-mg">Camisa com Datalhes</p>
              <div class="avaliacao">
                <img src="./img/Frame 10.svg" alt="" />
                <span class="f2-m">4.5/5</span>
              </div>
              <span class="f2-mg">R$ 120,00</span>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section>
      <div class="mais-vendido-bg" id="vendido" data-scroll="animado">
        <div class="container">
          <h3 class="f1-m">MAIS VENDIDOS</h3>
          <section class="mais-vendido">
            <div class="mais-vendido-item">
              <img src="./img/MV1.png" alt="" />
              <p class="f2-mg">Camisa com Datalhes</p>
              <div class="avaliacao">
                <img src="./img/Frame 10.svg" alt="" />
                <span class="f2-m">4.5/5</span>
              </div>
              <span class="f2-mg">R$ 120,00</span>
            </div>
            <div class="mais-vendido-item">
              <img src="./img/MV2.png" alt="" />
              <p class="f2-mg">Camisa com Datalhes</p>
              <div class="avaliacao">
                <img src="./img/Frame 10.svg" alt="" />
                <span class="f2-m">4.5/5</span>
              </div>
              <span class="f2-mg">R$ 120,00</span>
            </div>
            <div class="mais-vendido-item">
              <img src="./img/MV3.png" alt="" />
              <p class="f2-mg">Camisa com Datalhes</p>
              <div class="avaliacao">
                <img src="./img/Frame 10.svg" alt="" />
                <span class="f2-m">4.5/5</span>
              </div>
              <span class="f2-mg">R$ 120,00</span>
            </div>
            <div class="mais-vendido-item">
              <img src="./img/MV4.png" alt="" />
              <p class="f2-mg">Camisa com Datalhes</p>
              <div class="avaliacao">
                <img src="./img/Frame 10.svg" alt="" />
                <span class="f2-m">4.5/5</span>
              </div>
              <span class="f2-mg">R$ 120,00</span>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section>
      <div class="estilo-bg" id="categoria" data-scroll="animado">
        <div class="container">
          <div class="container-estilo cor-bg-p3">
            <h4 class="f1-m">ENCONTRE ESTILOS</h4>
            <div class="estilo">
              <section class="estilo-item1">
                <p>CASUAL</p>
              </section>
              <section class="estilo-item2">
                <p>FESTA</p>
              </section>
              <section class="estilo-item3">
                <p>GYM</p>
              </section>
              <section class="estilo-item4">
                <p>FORMAL</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="comentarios-bg" data-scroll="animado">
        <div class="container">
          <h5 class="f1-m">NOSSOS CLIENTES COMENTAM</h5>
          <div class="comentarios">
            <div class="comentarios-item">
              <img src="./img/Frame 10.svg" alt="" />
              <p class="f2-mg">Sarah M.</p>
              <p class="f2-m cor-p4">
                "I'm blown away by the quality and style of the clothes I
                received from Shop.co. From casual wear to elegant dresses,
                every piece I've bought has exceeded my expectations.”
              </p>
            </div>
            <div class="comentarios-item">
              <img src="./img/Frame 10.svg" alt="" />
              <p class="f2-mg">Sarah M.</p>
              <p class="f2-m cor-p4">
                "I'm blown away by the quality and style of the clothes I
                received from Shop.co. From casual wear to elegant dresses,
                every piece I've bought has exceeded my expectations.”
              </p>
            </div>
            <div class="comentarios-item">
              <img src="./img/Frame 10.svg" alt="" />
              <p class="f2-mg">Sarah M.</p>
              <p class="f2-m cor-p4">
                "I'm blown away by the quality and style of the clothes I
                received from Shop.co. From casual wear to elegant dresses,
                every piece I've bought has exceeded my expectations.”
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-bg cor-bg-p3" data-scroll="animado">
        <div class="container">
          <div class="inscricao cor-bg-p1">
            <div>
              <h1 class="f1-m cor-p2">
                FIQUE POR DENTRO SOBRE NOSSOS LANÇAMENTOS
              </h1>
            </div>
            <div class="email-botao">
              <input
                class="input-email material-symbols-outlined"
                type="text"
                placeholder="email"
              />
              <p class="enviar-email">Se Inscrever</p>
            </div>
          </div>
          <div class="footer">
            <section class="footer-itens">
              <a class="logo cor-p1" href="">SHOP.CO</a>
              <p class="f2-m cor-p4 txt-footer">
                We have clothes that suits your style and which you re proud to
                wear. From women to men.
              </p>
              <div class="icones-footer">
                <a href="https://www.facebook.com" target="_blank">
                  <i class="fab fa-facebook icone-tam"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                  <i class="fab fa-linkedin icone-tam"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                  <i class="fab fa-instagram icone-tam"></i>
                </a>
              </div>
            </section>
            <section>
              <h1>EMPRESA</h1>
              <ul class="lista-footer">
                <li class="f2-m cor-p4">Sobre</li>
                <li class="f2-m cor-p4">Ferramentas</li>
                <li class="f2-m cor-p4">Trabalhos</li>
                <li class="f2-m cor-p4">Carreira</li>
              </ul>
            </section>
            <section>
              <h1>AJUDA</h1>
              <ul class="lista-footer">
                <li class="f2-m cor-p4">Suporte</li>
                <li class="f2-m cor-p4">Detalhes de entrega</li>
                <li class="f2-m cor-p4">Termos e CondiçoÊs</li>
                <li class="f2-m cor-p4">Politica de Privacidade</li>
              </ul>
            </section>
            <section>
              <h1>FAQ</h1>
              <ul class="lista-footer">
                <li class="f2-m cor-p4">Conta</li>
                <li class="f2-m cor-p4">Confugurar Entrega</li>
                <li class="f2-m cor-p4">Pedidos</li>
                <li class="f2-m cor-p4">Pagamento</li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </footer>

    <section class="container-modal" data-modal="modal">
      <div class="modal">
        <button class="fechar" data-modal="fechar">X</button>
        <form action="" class="login">
          <div class="login-input">
            <label for="email" class="f2-m">Email</label>
            <input type="text" for="email" id="email" />
          </div>
          <div class="login-input">
            <label for="senha" class="f2-m">Senha</label>
            <input type="password" for="senha" id="senha" />
            <a class="recuperar-senha" href="">Esqueceu sua senha?</a>
          </div>
          <button type="submit" class="btn-enviar f2-m">Entrar</button>
          <span>É Novo? <a class="cadastro" href="">Cadastre-se Aqui!</a></span>
        </form>
      </div>
    </section>
    <script type="module" src="./js/script.js"></script>
  </body>
</html>